# dependencies
frontend/node_modules/

# production build
frontend/build/
frontend/.env
frontend/.DS_Store
frontend/npm-debug.log*
frontend/yarn-debug.log*




backend/target/
backend/*.log
backend/*.class
backend/*.jar
backend/*.war
backend/*.ear

backend/.idea/
backend/.iml
backend/.vscode/
backend/.classpath
backend/.project
backend/.settings/

backend/.mvn/
backend/.mvnw
backend/.mvnw.cmd

backend/.env

WarrantyHub_Enhancement_Guide.docx
google client Secret.json
warrantyhubCloud.pptx
WarrantyHub_Improvement_Report.docx
.idea
